ml_basic/venv/
ml_basic/pizza_steak/
ml_basic/pizza_steak.zip
ml_basic/big_datasets/
ml_basic/model_6_USE_distaster/
ml_basic_pytorch/venv/
ml_basic_pytorch/data/
ml_basic_pytorch/animals_tinyvgg/data/